:root{
    --bgcolor: rgb(0, 0, 0);
    --primarycolor: #fefeee;
}
*{
    font-size: 1.2rem;
    margin: 0; 
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 10vh;
    
}
.nav{
    padding: 0;
    margin: 0;
}
.navbar{
    background: rgb(170, 19, 50);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;


}
.nav-item{
    background:transparent;
    padding: 1rem 0;
    width: 9rem;
    text-align: center;
    list-style-type: none;
    color: white;
    transition: color .35s, background .35s;
}
.nav-item:hover{
    cursor: pointer;
    color: black;
    background: grey;
}


#main{
    position: relative;
    background:var(--bgcolor);
    height: 100vh;
}

#content{
    font-size: 150%;
    font-weight:900;
    width: 40%;
    height: 60%;
    background: white;
    box-shadow: inset 0 0 2rem rgb(0, 47, 255);
    text-align: center;
    line-height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
}

.celeb{
    animation: disco 5s infinite linear;
}

@keyframes disco{
    from{
        background: red;
    }
    to{
        background: yellow;
    }
}


@media(max-width: 1024px){
    body{
        display: grid;
        /* grid-gap: 1rem; */
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 100vh;
    }
    .header{
        grid-column: 1;
        height: 100%;
        width: 100%;
        
    }
    .nav{
        width: 100%;
        height: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        padding: 0;
        /* background: red; */
    }
    .nav-item{
        /* height: 10vh; */
        width: 100%;
        padding: 1.5rem 0;
        width: 100%;
    }
    #main{
        grid-column: 2;
        width: 100%;
    }
    #content{
        width: 20rem;
    }
}

@media(max-width: 600px){
    body{
        display: block;
    }
    #button{
        margin-left: 1rem;
    }
    #button:hover{
        cursor: pointer;
    }
    .header{
        position: absolute;
        z-index: 1000;
    }
    .nav{
        visibility: hidden;
        
    }
    .navbar{

    }
    .nav-item{

    }
    #main{

    }
    #content{
        width: 80%;
        height: 65vh;
    }
}


.toggleon{
    visibility: visible;
    animation: trans .25s forwards linear;
    z-index: 1000;
}
@keyframes trans{
    from{
        /* width: 0; */
        transform: translatex(-50rem);
    }
    to{
        /* width: 100%; */
        transform: translatex(0);
    }
}
.toggleoff{
    /* visibility: visible; */
    animation: transoff .25s forwards linear;
    z-index: 1000;
}
@keyframes transoff{
    from{
        /* width: 0; */
        transform: translatex(0rem);
    }
    to{
        /* width: 100%; */
        transform: translatex(-50rem);
    }
}